.poster {
	display: flex;
	flex-direction: row;
	margin: auto;
	margin-top: 2%;
}

.projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto 5%;
}

.project-summary {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 5%;
}

img {
	width: 80%;
	margin: 5%;
}
