
.map-header {
    text-align: left;
    margin-left: 5%;  
    padding-top: 2%; 
}

#mapId {
    // height and width must be set in order to see the map
    height: 80vh;
    width: 90vw;
    margin: auto;
}