.resume-container {
    text-align: center;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 3s; /* Firefox < 16 */
	 -ms-animation: fadein 3s; /* Internet Explorer */
	  -o-animation: fadein 3s; /* Opera < 12.1 */
		 animation: fadein 3s;
}

.resume-wrapper {
    margin: 2%;
}

iframe {
    width: 100%;
    height: 70vw;
}
