    // Define border colors
    // Define text colors
    
    .intro {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      margin-top: -70px;
      padding: 8% 10%;
      /*River City */ 
       background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);  
      /* Sleepless Night */
      /* background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%); */
      /* Crystal River */
      // background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
      /* Lily Meadow */
      /* background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%); */
      /* background-image: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%); */
    }

    h2.name {
      margin: auto auto auto 5vh;
    }

    img.cinnamoroll {
      margin-right: 5%;
      width: 200px;
    }

    .content-wrapper {
      padding: 0 5%;

      .row {
        display: flex;
        flex-direction: row;

        .about-wrapper {
          padding: 2%;
          width: 50%;
        }  
      }

      .header {
        text-align: center;
      }
    }

    #education {
      padding: 50px 15px 20px 15px;
      border-bottom: 1px solid ;
      border-top: 1px solid;
      margin-top: 25px;
      text-align: center;
  
      h2 {
          margin-bottom: 50px;
      }
  }
  
  .education-block {
      max-width: 700px;
      margin: 0 auto 30px auto;
      padding: 15px;
      border: 1px solid ;
      text-align: left;
  
      h3 {
          font-weight: 500;
          float: left;
          margin: 0;
      }
  
      span {
          float: right;
      }
  
      h4 {
          clear: both;
          font-weight: 500;
          margin: 0 0 15px 0;
      }
  
      p, ul {
          margin: 0;
          font-size: 0.9em;
      }
  
      ul {
          padding: 0 0 0 15px;
      }
  }

  #skills {
    padding: 50px 15px;
    text-align: center;
    border-bottom: 1px solid ;
    margin-bottom: 10px;

    h2 {
        margin-bottom: 50px;
    }

    ul {
        display: block;
        margin: 0 auto;
        padding: 0;
        max-width: 800px;
    }

    li {
        display: inline-block;
        margin: 7px;
        padding: 5px 10px;
        background: darken(#7e7d7d, 5%);
        list-style: none;
        font-size: 1.2em;
    }
}

    @media screen and (max-width: 420px) {      
      .intro {
        padding: 30% 12%;
      }
      .content-wrapper {
        .row {
          flex-direction: column;

          .about-wrapper {
            width: 100%;
          }  
    
        }
      }

      .timeline {
        padding: 2% 0 2% 0;
      }
    }