/* .particles {
	  min-height: 100%;
    height: auto !important;
    margin: 0 auto -20px;
    z-index: -100;

} doesn't look like this is doing anything...
 */
    .intro {
      width: 100%;
      height: 100%;
      margin-top: -70px;
      padding: 12% 20%;
      /*River City */ 
      /* background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);  */
      /* Sleepless Night */
      /* background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%); */
      /* Crystal River */
      background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
      /* Lily Meadow */
      /* background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%); */
      /* background-image: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%); */
    }

    .content-wrapper {
      padding: 0 5%;
    }

    .about {
      display: flex;
      flex-direction: row;

    }

    .about-wrapper {
      padding: 2%;
    }

    @media screen and (max-width: 420px) {
      .intro {
        padding: 30% 12%;
      }
      .about {
        flex-direction: column;
      }
    }