body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: linear-gradient(to right, rgb(100, 52, 181), rgb(80, 166, 250));
}

.particles {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

canvas {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
  	margin-top: 0px;
  	margin-bottom: 0px;
}

div.block {
	position: relative;
	margin: auto;
	margin-bottom: 2%;
	padding: 2%;
	width: 95%;
	color: plum;
	background-color:rgba(0, 0, 0, 0.4);
	border-radius: 15px;
}

